In [1]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.__version__

'1.5.3'

In [3]:
data = pd.read_csv('green_tripdata_2019-01.csv')

In [4]:
data.shape

(630918, 20)

In [5]:
data.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

## Question 3. Count records
How many taxi trips were totally made on January 15?

Tip: started and finished on 2019-01-15.
* **20689**
* 20530
* 17630
* 21090

In [6]:
data['date'] = pd.to_datetime(data['lpep_pickup_datetime']).dt.date

In [7]:
data[data['date'] == pd.Timestamp('2019-01-15')].shape

(20689, 21)

## Question 4. Largest trip for each day
Which was the day with the largest trip distance Use the pick up time for your calculations.
* 2019-01-18
* 2019-01-28
* **2019-01-15**
* 2019-01-10

In [8]:
data['trip_distance'].sort_values()

0           0.00
276317      0.00
276188      0.00
275980      0.00
275754      0.00
           ...
108290     60.91
191847     64.20
564614     64.27
347967     80.96
297377    117.99
Name: trip_distance, Length: 630918, dtype: float64

In [9]:
data.loc[297377]

VendorID                                   2
lpep_pickup_datetime     2019-01-15 19:27:58
lpep_dropoff_datetime    2019-01-15 22:59:01
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                             221
DOLocationID                             265
passenger_count                            1
trip_distance                         117.99
fare_amount                            323.0
extra                                    1.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                            10.5
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                           339.2
payment_type                               2
trip_type                                  1
congestion_surcharge                     NaN
date                              2019-01-15
Name: 297377, dtype: object

## Question 5. The number of passengers
In 2019-01-01 how many trips had 2 and 3 passengers?
* 2: 1282 ; 3: 266
* 2: 1532 ; 3: 126
* **2: 1282 ; 3: 254**
* 2: 1282 ; 3: 274

In [10]:
data[data['date'] == pd.Timestamp('2019-01-01')][data['passenger_count'] == 2].shape

(1282, 21)

In [11]:
data[data['date'] == pd.Timestamp('2019-01-01')][data['passenger_count'] == 3].shape

(254, 21)

## Question 6: Largest tip (Multiple choice)
For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?
* Central Park
* Jamaica
* South Ozone Park
* **Long Island City/Queens Plaza**

In [12]:
zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [13]:
zone_lookup.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
zone_lookup[zone_lookup['Zone'] == 'Astoria']

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [19]:
data[data['PULocationID'] == 7].sort_values(by='tip_amount').iloc[-1]

VendorID                                   2
lpep_pickup_datetime     2019-01-26 00:46:06
lpep_dropoff_datetime    2019-01-26 00:50:10
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                               7
DOLocationID                             146
passenger_count                            1
trip_distance                           0.92
fare_amount                              5.5
extra                                    0.5
mta_tax                                  0.5
tip_amount                              88.0
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            94.8
payment_type                               1
trip_type                                  1
congestion_surcharge                     NaN
date                              2019-01-26
Name: 506162, dtype: object

In [16]:
zone_lookup[zone_lookup['LocationID'] == 146]

     LocationID Borough                           Zone service_zone
145         146  Queens  Long Island City/Queens Plaza    Boro Zone